* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --backlog: #a2622d;
  --hold: #a22d22;
  --progress: #1b6161;
  --complete: #248224;
}
body {
  box-sizing: border-box;
  background-image: radial-gradient(
      ellipse at bottom left,
      rgba(0, 163, 203, 1) 40%,
      rgba(0, 163, 203, 0) 40%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(0, 163, 203, 1) 30%,
      rgba(0, 163, 203, 0) 30%
    ),
    linear-gradient(
      to right,
      rgba(98, 87, 147, 1) 0%,
      rgba(98, 87, 147, 1) 33%,
      rgba(213, 93, 100, 1) 33%,
      rgba(213, 93, 100, 1) 66%,
      rgba(228, 145, 41, 1) 66%
    );
  font-family: Quicksand, sans-serif;
}
.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.list-container {
  box-shadow: 0px 6px 10px rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.219);
}
.list-item {
  list-style: none;
  min-height: 100px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  margin: 1rem;
  text-align: center;
  color: white;
  word-wrap: normal;
  overflow-x: hidden;
}
.list-item:hover {
  cursor: grab;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.input-button {
  font-family: "Courier New", Courier, monospace;
  width: 200px;
  background-color: rgb(180, 93, 93);
  min-height: 12px;
  font-size: x-large;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  padding: 2px 3px;
  text-align: center;
  margin-bottom: 15px;
}
.input-button:hover {
  transform: scale(1.01);
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s;
  cursor: grabbing;
}
header {
  text-align: center;
  padding: 2px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  margin: 8px 6px;
}
.textfield {
  border-radius: 10px;
  margin-bottom: 1em;
}

.on-backlogs {
  background-color: #a2622d;
}
.on-hold {
  background-color: #a22d22;
}
.in-progress {
  background-color: #1b6161;
}
.on-complete {
  background-color: #248224;
}
.heading {
  margin: 8px;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  width: 250px;
  color: white;
}
.item-container-list {
  min-height: 10vh;
  max-height: 50vh;
  overflow-y: scroll;
}

.over {
  padding: 50px 10px;
}

.backlogs-container .over {
  background-color: var(--backlog);
}
.progress-container .over {
  background-color: var(--progress);
}
.hold-container .over {
  background-color: var(--hold);
}
.complete-container .over {
  background-color: var(--complete);
}
